.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;

}

.user{
    padding: 5rem;
    background-color: blue;
}

.pc{
    padding: 5rem;
    background-color: blueviolet;
}

.result{
    padding: 5rem;
 background-color: brown;
}